{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <br><h1 class="alert alert-primary" role="alert">{{destination.name}}</h1>
    <p>{{destination.description}}</p>
    <p>{{destination.activities}}</p>
    <div class="row">
        <div class="col-lg-12">
            <p><img style="width: 100%"src="{{destination.pretty_picture.url}}"></p>
        </div>
    </div>
    <p>{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button class= "btn btn-primary">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button class= "btn btn-danger">Delete</button>
    </a>
{% endblock content %}